app/gui/window.py.backup
app/gui/window.py.old
С-1 1,037-1,112 30.csv
С-1 1-1,5 30.csv
ПР2.xlsx
AN1_2159_30_30.xlsx
COMSNiffing.py
control.py
tektronixtest.py
test.py
testrigo.py
app/core/__pycache__
app/gui/__pycache__
app/modules/__pycache__
app/utils/__pycache__
tables
app/__pycache__
app/build
app/dist
*.csv
app/logs
logs
*.xlsx
